<h1>Sample Form for testing MailChimp Integration in Angular</h1>
<form [formGroup]="this.sampleForm" (ngSubmit)="this.onSubmit()" class="center">
  <p>Enter MailChimp Endpoint*:</p>
  <textarea
    formControlName="endpoint"
    [placeholder]="this.endpointPlaceholder"
    rows="3"
    cols="50"
  ></textarea>
  <p>
    <i
      >Note: <br />Get Your MailChimp Endpoint from Audience > Signup Forms >
      Embedded Forms<br />The endpoing URL is the 'action' attribute of the
      '&lt;form&gt;' element</i
    >
  </p>
  <p>Enter Email Address*:</p>
  <input
    type="email"
    placeholder="abc@xyz.com"
    formControlName="email"
    autocomplete="email"
  />
  <p>Enter First Name:</p>
  <input type="text" formControlName="firstName" placeholder="John" />
  <p>Enter Last Name:</p>
  <input type="text" formControlName="lastName" placeholder="Doe" />
  <p>
    <button type="submit" [disabled]="!this.sampleForm.valid">Subscribe</button>
  </p>
</form>

<div class="light-gray-bg">
  <p>HTTP Request JSON Response:</p>
  <pre style="white-space: pre-wrap;">{{ this.httpResponse | json }}</pre>
</div>

<p class="center">Reference Guide Used:</p>
<p class="center">
  <a
    target="_blank"
    href="https://medium.com/swlh/how-to-make-a-landing-page-with-mailchimp-and-angular-f2b636c5c7fa"
    >How to Make a Landing Page with MailChimp and Angular</a
  >
</p>
